* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1em;
}

body {
  margin: auto auto;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

nav {
  position: fixed;
  top:0;
  width: 100%;
  height: 170px;
  background: #fff;
  text-align:center;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink {
  height: 100px;
}

nav header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink header {
  height: 60px;
}

nav header .container {
  width: 100%;
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  /*border-bottom: 1px solid #d9d9d9;*/
}

nav header img {
  margin: 32px 0;
  height: 36px;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink header img {
  margin: 20px 0;
  height: 20px;
}

nav header .global {
  position: relative;
  float: right;
  display: inline-block;
  height: 100px;
  width: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink header .global {
  height: 60px;
}

nav header .global .utility {
  display: inline-block;
  width: 100px;
  background: #fff;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  color: #d9d9d9;
  padding: 41px 0;
  border-left: 1px solid #d9d9d9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink header .global .utility {
  padding: 13px 0;
  line-height: 2.5em;
}

nav header .global .utility:first-of-type {
  float: left;
}

nav header .global .utility:last-of-type {
  float: right;
  border-right: 1px solid #d9d9d9;
}

nav header .global .utility:hover {
  background: #62ad3d;
  color: #fff;
}

nav .main {
  display:inline-block;
  width: 100%;
  max-width: 1060px;
  height: 70px;
  margin: -10px auto;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.shrink .main {
  height: 40px;
}

.main .section {
  display: inline-block;
  width: auto;
  height: 100%;
  padding: 18px 20px;
  line-height: 2.5em;
  margin: auto auto;
  vertical-align: middle;
  color: #000;
  font-size: .85em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav.shrink .main .section {
  height: 26px;
  padding: 1px 20px;
  line-height: 2.1em;
}

.subnav {
  width: 100%;
  height: 72px;
  background: #f2f2f2;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.subnav .main {
  display:inline-block;
  width: 100%;
  max-width: 1060px;
}

.link {
  color: #62ad3d !important;
}

nav.shrink .indicator {
  position: relative;
  bottom: 0;
  width: auto;
  height: 5px;
  background: #62ad3d;
  z-index:1;
  opacity: 0;
  display: none;
}

nav.shrink .indicator.active {
  opacity: 1;
  display:block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.affix-top {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.affix {
  top: 100px;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background: #f2f2f2;
  z-index: -1;
}

.content .hero {
  margin-top: 170px;
}

.content .other {
  width: 100%;
  height: 800px;
  text-align: center;
}

.content .other:nth-child(odd) {
  background: #fff;
}

.other h2 {
  padding: 2em;
}

footer {
  width: 100%;
  height: 924px;
  background: #494949;
}

footer .main {
  background: #666666;
  height: 558px;
}

footer .main .content {
  max-width: 1440px;
}

footer .brands {
  height: 248px;
}

footer .legal {
  border-top: 1px solid #666666;
  height: 118px;
}
